body
{
	background-color: black;
	margin: 0px 0px;
	padding: 0px;
}
td 
{
	color: #db97f2;;
}
hr
{
	color: #550d6d;
	background-color: #550d6d;
	width: 70vw;
}
h1
{
	color: #c149e9;
}
h2
{
	color: #c149e9;
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	font-size: 2vw;
}

h3
{
	color: #db97f2;
}
h4
{
	color: #c149e9;
}
p
{
	padding: 0px;
	margin: 0px;
	color: #db97f2
}
a
{
	color: #db97f2;
	text-decoration: none;
}
a:hover
{
	color: #eecdf9;
}
/*index classes*/
.skilldiv:hover
{
	transform: scale(1.1);
}
.skilldiv
{
	line-height: 1.5;
	margin-bottom: 7rem;
}
.skillimg
{
	width: 10vw;
	height: auto;
	float: left;
	margin-right: 30px;
}
.skillp
{
	width: 40vw;
	font-size: 1vw;
}
.skillp:hover
{
 background-color: black;
}
.skillnote
{
	font-size: 12px;
}
.javaimg
{
	margin-left: 30px;
	float: right;
}
.skill2
{
	text-align: right;
}
.monkey
{
	width: 40vw;
	margin-left: 0px;
	line-height: 2;
	font-weight: normal;
	margin-right: 30vw;
	text-align: center;
}
.midtext
{
	width: 80vw;
	margin-right: 20px;
	margin-left: 20px;
}
.middlecont 
{
	display: flex;
	justify-content: space-between;
	background-image: url(https://cdn.wallpapersafari.com/98/42/O05ACc.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.chad
{
	height: auto;
	width: 12vw;
	border-radius: 4rem	;
}
.toptable
{
	width: 100vw;
	background-color: #550d6d;
	color: #db97f2;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}
.tophead
{
	padding-top: 1rem;
	height: 4rem;
	display: inline-block;
}
.toplink
{
	font-size: 2rem;
	
}
.footp
{
	font-size: 14px;
}
.footer
{
	text-align: center;
	width: 100vw;
	background-color: #550d6d;
	color: #db97f2;
	padding: 10px 0px;
}
.smallerp
{
	font-size: 12px;
}
.dragon 
{
	width: 25vw;
	height: auto;
	-webkit-transform: scaleX(1);
}
.rightdragon
{
	-webkit-transform: scaleX(-1);
 	transform: scaleX(-1);
}
.intro
{
	width: 100vw;
	display: flex;
	background-image: url(https://i.pinimg.com/736x/b1/09/10/b10910ab178d63377a7f10629818938d--wallpapers-ipad-iphone--wallpaper.jpg);
	background-size: contain;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 3rem;
}
.btn {
   background: #812580;
   background-image: -webkit-linear-gradient(top, #812580, #310B3C);
   background-image: -moz-linear-gradient(top, #812580, #310B3C);
   background-image: -ms-linear-gradient(top, #812580, #310B3C);
   background-image: -o-linear-gradient(top, #812580, #310B3C);
   background-image: -webkit-gradient(to bottom, #812580, #310B3C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #D4BCD7;
   font-family: 'Raleway',sans-serif;
   font-size: 30px;
   font-weight: 100;
   padding: 5px;
   -webkit-box-shadow: 1px 1px 20px 0 #690878;
   -moz-box-shadow: 1px 1px 20px 0 #690878;
   box-shadow: 1px 1px 20px 0 #690878;
   text-shadow: 1px 1px 20px #ECAEF5;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #8F1188 1px;
   background: #DFA8E7;
   background-image: -webkit-linear-gradient(top, #DFA8E7, #B549C5);
   background-image: -moz-linear-gradient(top, #DFA8E7, #B549C5);
   background-image: -ms-linear-gradient(top, #DFA8E7, #B549C5);
   background-image: -o-linear-gradient(top, #DFA8E7, #B549C5);
   background-image: -webkit-gradient(to bottom, #DFA8E7, #B549C5);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.bottom-container
{
	align-content: center;
	text-align: center;
}
/*jokes classes*/
.jokest
{
	background-color: black;
	height: 160px;
}

/*projects classes*/
.projectimg
{
	height: auto;
	width: 9vw;
	margin-right: 9vw;
}

.hovercolor:hover
{
	height: auto;
	width: 10vw;
	border-radius: 100%;
	background-color: #eecdf9;
}